<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - CarFish</title>
    @RenderSection("styles", false)
</head>
<body class="main-layout">
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
