@{ string curYear = DateTime.Now.Year.ToString();}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - CarFish</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body class="main-layout">
    <!-- header -->
    <header class="section">
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a asp-action="Index" asp-controller="Home"><img src="~/img/logo.png" alt="#"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li> <a asp-action="Index" asp-controller="Home">მთავარი</a> </li>
                                        <li> <a asp-action="List" asp-controller="Product">პროდუქტები</a> </li>
                                        <li><a href="testmonial.html">დაგვიკავშირდით</a></li>
                                        <li class="side-menu">
                                            <a id="carty" href="#">
                                                <img style="max-width:9%" src="~/img/shopping-cart.png">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    @RenderBody()
    <div id="footer" class="Address layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlepage">
                        <div class="main">
                            <h1 class="address_text">საკონტაქტო ინფორმაცია</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="address_2">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="site_info">
                            <span class="info_icon"><img src="~/img/map-icon.png" /></span>
                            <span style="margin-top: 14px;font-size: 1.2rem;">მოსკოვის გამზირი</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="site_info">
                            <span class="info_icon"><img src="~/img/phone-icon.png" /></span>
                            <span style="margin-top: 14px;font-size: 1.2rem;">555 186 000</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="site_info">
                            <span class="info_icon"><img src="~/img/email-icon.png" /></span>
                            <span style="margin-top: 14px;font-size: 1.2rem">carfishstore@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_main">
            <div class="menu_text">
                <ul>
                    <li class="active"><a asp-action="Index" asp-controller="Home">მთავარი</a></li>
                    <li><a asp-action="List" asp-controller="Product">პროდუქტები</a></li>
                    <li><a href="testmonial.html">დაგვიკავშირდით</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <!-- end Contact Us-->
    <!-- footer start-->
    <div id="plant" class="footer layout_padding">
        <div class="container">
            <p>© @curYear ყველა უფლება დაცულია</a></p>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/js/navbar/customNavbar.js"></script>
</body>
</html>
