.badge {
    color: white;
}

.side {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -280px;
    width: 280px;
    padding: 25px 15px;
    height: 100%;
    display: block;
    background-color: #222222;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}

.side::-webkit-scrollbar{
    display:none;
 }

    .side.on {
        right: 0;
    }


        .side.on .cart-box {
            background: #222222;
        }

#closeslide{
    color: white;
}

#plant {
    padding-top: 5px;
}

.cart-list .prodTitle{
    color:white;
}

.cart-list li h6 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
}

.cart-list li p {
   color:white;
}

.cart-list li p span{
    color: white;
}
.cart-list .total{
    color:white;
}

.cart-list {
    background-color: #222222;
}
.btn btn-default hvr-hover btn-cart{
    display:none;
}

.cart-list .total span {
    background-color: #222222;
}

.cart-list .total {
    text-align: left;
    margin-top: 1rem;
}

#closeslide {
    display: none;
}

.titlepage {
    padding-bottom: 50px;
    padding-top: 2rem;
}



.product-image-carousel {
    width: 680px;
    height: 410px;
}

/*for mobile*/
@media (max-width:480px) {
    .product-image-carousel {
        width: 680px;
        height: 200px;
    }
}


/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
    .dropdown-content a {
        color: black !important;
        padding: 12px 16px !important;
        text-decoration: none !important;
        display: block !important;
        line-height: normal !important;
        font-size: 14px !important;
        font-weight: 500;
        /*         color: #ffffff; */
        text-transform: none !important;
    }
/*}

/* Change color of dropdown links on hover */
        .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
/*    background-color: #3e8e41;*/
}
.center {
    text-align: center;
    margin-bottom: 2rem;
}

/*Pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*---------------------------------------- Datalex -------------------------------*/
.logodatalex {
    float: left;
    position: relative;
    max-width: 80%;
}

@media (max-width: 575px) {
    .logodatalex {
        float: inherit;
        padding-bottom: 15px;
        text-align: center;
        width: 55%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}