@{
    ViewData["Title"] = "ContactUs";
    var isDatalex = false;
    if (ViewBag.Datalex != null)
        isDatalex = true;
}

@section Styles
{
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/details/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/details/responsive.css">
    <!-- Custom CSS -->
    
    @if (isDatalex)
    {
        <link rel="stylesheet" href="~/css/details/custom-datalex.css">

    }
    else
    {
        <link rel="stylesheet" href="~/css/details/custom.css">
    }

    <!-- Leaflet bullshit-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
}

@section Scripts
{
    <!-- ALL JS FILES -->
    <script src="~/js/details/jquery-3.2.1.min.js"></script>
    <script src="~/js/details/popper.min.js"></script>
    <script src="~/js/details/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/details/jquery.superslides.min.js"></script>
    <script src="~/js/details/bootstrap-select.js"></script>
    <script src="~/js/details/inewsticker.js"></script>
    <script src="~/js/details/bootsnav.js."></script>
    <script src="~/js/details/images-loded.min.js"></script>
    <script src="~/js/details/isotope.min.js"></script>
    <script src="~/js/details/owl.carousel.min.js"></script>
    <script src="~/js/details/baguetteBox.min.js"></script>
    <script src="~/js/details/form-validator.min.js"></script>
    <script src="~/js/details/contact-form-script.js"></script>
    <script src="~/js/details/custom.js"></script>
    @if (isDatalex)
    {
        <script src="~/js/leaflet/initial-datalex.js"></script>
    }
    else
    {
        <script src="~/js/leaflet/initial.js"></script>
    }
}
<div id="plant" class="contact_us layout_padding">
    @if (isDatalex)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage" style="padding-top: 0rem;">
                        <h2 style="text-align: center; margin-top: 15px;">ფილიალების <strong style="color: #111315;">მისამართი</strong></h2>
                        <span style="text-align: center; font-size: 1.4rem !important;">წერეთლის 1. სავაჭრო ცენტრი “პანდა”. მაღაზია 75.<br> 595 334 821 <br> <br> მეტრო ვარკეთილის თავზე. სავაჭრო ცენტრი “ფენიქსი” მესამე სართული მაღაზია 17.<br> 595 334 826</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_container" style=" width: 80vw; margin: auto; margin-bottom: 2rem;">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage" style="padding-top: 0rem;">
                        <h2 style="text-align: center; margin-top: 15px;">ადგილმდებარეობა <strong style="color: #111315;">რუკაზე</strong></h2>
                    </div>
                </div>
            </div>
            <div id="mapiddatalex" style="height: 80vh"></div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage" style="padding-top: 0rem;">
                        <h2 style="text-align: center; margin-top: 15px;">მიტანის <strong style="color: #111315;">პირობები</strong></h2>
                        <span style="text-align: left;">CarFish-ით პროდუქტის შეძენისას შეგიძლიათ ისარგებლოთ ჩვენი მიტანის სერვისით, რომელიც თბილისის მასშტაბით 5 ლარი დაგიჯდებათ.<br> <br> ალტერნატიულად, შეგიძლიათ მოგვაკითხოთ პირდაპირ ოფისში და თავად აიღოთ პროდუქტი.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_container" style=" width: 80vw; margin: auto; margin-bottom: 2rem;">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage" style="padding-top: 0rem;">
                        <h2 style="text-align: center; margin-top: 15px;">ადგილმდებარეობა <strong style="color: #111315;">რუკაზე</strong></h2>
                    </div>
                </div>
            </div>
            <div id="mapid" style="height: 80vh"></div>
        </div>
    }
</div>