@model CarFish.Shared.Models.Category
@inject ProductRepository productRepo
@{
    var count = productRepo.GetProductCountByCategory(Model.Id);
    var isDatalex = false;
    if (ViewBag.Datalex != null)
    {
        isDatalex = true;
        count = productRepo.GetProductCountByCategoryDatalex(Model.Id);
    }
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="sport_product">
        <a class="redirect_section" asp-controller="Product" asp-action="List" asp-route-category="@Model.Id"><figure><img src="@Model.ImageUrl" alt="img" /></figure></a>
        <h4>@Model.Name (@count)</h4>
    </div>
</div>